body {
    font-family: Arial, sans-serif;
    /*background-color: #f5f5f5;*/
    background-image: url('../imagen/e-commerce_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}

.container::before {
    content: "";
    background-image: url('../imagen/Store.png');
    width: 80px;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

h2 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #333;
}

input {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #1376df;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: wavy;
    color: rgb(33, 170, 124);
}


/* EStilos BTN volver */
.back-button {
    position: absolute;
    left: 10px;
    top: 10px;
    background: #007BFF;
    color: #fff;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}