

/* GENERALES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #dfe9f5;
}

.aside{
    height: 100vh;
    width: 300px;
    padding: 10px;
    background-color: cornflowerblue;    
    color: #fff;
    position:  fixed;
    transition: all .4s ease;
}

.head{
    display: flex;
    width: 50px;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 30px;
}

.head img{
    width: 50px;
    border-radius: 50%;
}

.head i{
    font-size: 30px;
    cursor: pointer;
}

.profile{
    display: flex;
    align-items: center;
}

.profile img{
    margin-right: 10px;
}

.options div{
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 10px;
    font-size: 1.1rem;
}

.options div:hover{
    background-color: rgba(255,255,255,0.254);
    transition: all .4s ease-in-out;    
}

.options i{
    font-size: 1.4rem;
    margin-right: 10px;
}

/*modifica al cerrar el menu*/

.aside.active{
    width: 70px;
    transition: all .4s ease;
}

.aside.active .option,
.aside.active .profile{
    display: none;
}

.aside.active .head i{
    margin: auto;
}